[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesDLMfMRI"]
	path = BayesDLMfMRI
	url = https://github.com/johnatanlab/bayesdlmfmri
